<%- include("partials/header.ejs") %>

    <main class="outter-container" id="srch-con">

        <!-- Search input field for a particular recipe name --> 
        <div class="container search-container">
            <div class="search-bar">
                <form action="/display-search1" method="POST">
                
                    <label for="search">Search for a Meal:</label>
                    <br>
                    <input type="text" id="input" name="input" placeholder="Write a Recipe Name..." >
        
                    <input type="submit" value="Search" class="search-btn">
                </form>
        
                <% if (locals.message) { %> 
                    <p class="err-msg"> <%= message %> </p>
                <% } %> 
            </div>
        </div>
    </main>

<%- include("partials/footer.ejs") %>