@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
}

:root {
    --main-color: #32cd32;
    --second-main-color: #008000;
    --text-color: #fff;
    --second-text-color: #555;
    --header-color: #000;
    --btn-a: #ff4500;
    --btn-b: #0000ff;
    --btn-c: #da70d6;
    --btn-d: #daa520;
}

body {
    height: 100vh;
    background-color: #faf0e6;
}

header {
    height: 5rem;
    background-image: url("../images/salad2.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.outter-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fffafa;
    min-height: calc(100vh - 12rem);
    margin: 2rem 9%;
    border-radius: 1rem;
}

.outter-container h1 {
    margin-top: 1rem;
    color: var(--second-main-color);
}

.outter-container h1.home-h1 {
    margin: 2rem 0;
}

.arrow-con {
    display: flex;
    justify-content: space-between;
    margin: 1rem 7%;
}

#ingredients {
    margin-bottom: 3rem;
}

.ing-paragraph {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.ing-list {
    color: var(--second-text-color);
}

#get-meal {
    padding: 0.5rem;
    color: #fff;
    background-color: #ff4500;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    transition: .2s ease;
}

#get-meal:hover {
    cursor: pointer;
    background-color: #b22222;
}

.input-con {
    width: 100%;
}

#srch-con {
    justify-content: center;
    margin: 2rem 7%;
}

div.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}

div.sub-con {
    display: flex;
    align-items: start;
    padding: 3rem 6rem;
}

.arrow-link {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 7%;
    text-decoration: none;
}

.back-arrow {
    font-size: 2rem;
    color: #000;
}

.back-arrow:hover {
    cursor: pointer;
}

.meal {
    padding: 2rem 3rem;
}

.meal .meal-display img {
    margin: 2rem 0;
}

.meal .meal-display p.prep {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 1.2rem;
}

.meal .meal-display p.area {
    color: var(--second-text-color);
}

.meal .meal-display p.instruct {
    color: var(--second-text-color);
    white-space: pre-line;
}

.meal .meal-display p.prep {
    font-size: 1rem;
}

.single-meal {
    margin-bottom: 5rem;
}

.display h2 {
    margin-bottom: 1rem;
    color: var(--second-main-color);
}

.recipe-display h2 {
    margin-bottom: 1rem;
    text-decoration: underline;
}

.imgg {
    width: 50%;
}

.imgg img {
    width: 100%;
}

ul li a {
    font-size: 1rem;
    color: var(--header-color);
}

ul li a:hover {
    color: var(--btn-a);
    cursor: pointer;
}

.err-msg {
    color: #ff0000;
}

.err-margin {
    margin-top: 3rem;
}

.err-margin2 {
    margin-top: 5rem;
}

.text {
    width: 90%;
}

.text p#welcome {
    font-size: 1.15rem;
    text-align: center;
    font-weight: bold;
}

.text p.recipe-paragraph {
    text-align: left;
    color: #555;
}

.search {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
}

.search h3 {
    margin-bottom: 1rem;
    color: var(--second-main-color);
}

.btn {
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    color: var(--text-color);
    border: none;
    outline: none;
    margin: 0.5rem;
}

.a {
    background-color: var(--btn-a);
}

.a:hover {
    background-color: #b22222;
    cursor: pointer;
}

.b {
    background-color: var(--btn-b);
}

.b:hover {
    background-color: #00008b;
    cursor: pointer;
}

.c {
    background-color: var(--main-color);
}

.c:hover {
    background-color: var(--second-main-color);
    cursor: pointer;
}

.d {
    background-color: var(--btn-d);
}

.d:hover {
    background-color: #b8860b;
    cursor: pointer;
}

.e {
    background-color: var(--btn-c);
}

.e:hover {
    background-color: #9400d3;
    cursor: pointer;
}

.recipe {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recipe a.name-link {
    color: var(--header-color);
    margin-bottom: 0.7rem;
    text-decoration: none;

    /* Nested hover effect */
    :hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.recipe h2 {
    font-size: 1.4rem;
}

.recipe .img-con {
    width: 60%;
    border-radius: 2rem;
    margin-top: 1rem;
    box-shadow: 0 0 1.5rem #808080;
    overflow: hidden;
}

.recipe .img-con .image-link {
    display: flex;
    justify-content: center;
    align-items: center;

    /* Nested hover effect */
    :hover {
        cursor: pointer;
    }
}

.recipe img {
    width: 100%;
}

.recipe2 {
    margin-top: 5rem;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-bar form {
    width: 80%;
    padding-top: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-bar form label {
    font-size: 1.2rem;
    font-weight: 600;
}

.search-btn {
    margin: 1rem;
    font-size: 0.9rem;
    padding: 0.4rem 1.3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--btn-a);
    color: var(--text-color);
}

.search-btn:hover {
    background-color: #b22222;
    cursor: pointer;
}

.btn2 {
    background-color: var(--btn-b);
}

.btn2:hover {
    background-color: #00008b;
    cursor: pointer;
}

#input {
    width: 70%;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    border: 0.15rem solid var(--second-main-color);
}

footer {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--second-main-color);
}


/* Mobile */

@media (max-width: 479px) {
    .outter-container h1.home-h1 {
        font-size: 1.3rem;
        text-align: center;
        margin: 2rem 1rem;
    }

    .search h3 {
        font-size: 1rem;
        text-align: center;
    }

    .text p#welcome {
        font-size: 1rem;
    }

    .text p.recipe-paragraph {
        font-size: 0.9rem;
    }

    .recipe a.name-link {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .recipe h2 {
        font-size: 1.1rem;
        text-align: center;
    }

    .search form {
        display: flex;
        flex-direction: column;
    }

    .btn {
        font-size: 0.8rem;
    }

    .back-arrow {
        font-size: 1.6rem;
    }

    .arrow-link {
        margin: 1rem 4%;
    }

    .search-bar form {
        width: 100%;
    }

    .search-bar form label {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
    }

    .recipe .img-con {
        width: 80%;
    }

    .imgg {
        width: 100%;
    }

    #srch-con {
        margin: 2rem 4%;
    }

    .arrow-con {
        margin: 1rem 4%;
    }

    .meal {
        padding: 2rem 1rem;
    }

    #input {
        width: 90%;
        font-size: 0.8rem;
    }

    .display h2, .recipe-display h2 {
        font-size: 1.2rem;
    }

    div.sub-con {
        padding: 3rem 3rem;
    }

    .outter-container h1 {
        font-size: 1.3rem;
    }

    .meal .meal-display p.area {
        font-size: 0.9rem;
    }

    .meal .meal-display p.instruct {
        font-size: 0.9rem;
    }

    #get-meal {
        font-size: 0.8rem;
    }

    .err-msg {
        font-size: 0.9rem;
        text-align: center;
        margin: 0 1rem;
    }

    footer p {
        font-size: 0.8rem;
    }
}

/* Portrait Tablet  */

@media (min-width: 480px) and (max-width: 767px) {
    .outter-container h1.home-h1 {
        font-size: 1.6rem;
        text-align: center;
        margin: 2rem 1rem;
    }

    .recipe .img-con {
        width: 50%;
    }

    .text p#welcome {
        font-size: 1.1rem;
    }

    .recipe a.name-link {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .search form {
        display: flex;
        flex-direction: column;
    }

    .search-bar form {
        width: 100%;
    }

    .search-bar form label {
        font-size: 1.1rem;
        font-weight: 500;
        text-align: center;
    }

    .back-arrow {
        font-size: 1.7rem;
    }

    .recipe .img-con {
        width: 60%;
    }

    .imgg {
        width: 70%;
    }

    #srch-con {
        margin: 2rem 4%;
    }

    .arrow-con {
        margin: 1rem 4%;
    }

    .arrow-link {
        margin: 1rem 4%;
    }

    .meal {
        padding: 2rem 1rem;
    }

    #input {
        width: 90%;
        font-size: 0.9rem;
    }

    div.sub-con {
        padding: 3rem 4rem;
    }

    .outter-container h1 {
        font-size: 1.5rem;
    }

    .meal .meal-display p.area {
        font-size: 1rem;
    }

    .meal .meal-display p.instruct {
        font-size: 1rem;
    }

    #get-meal {
        font-size: 0.9rem;
    }

    .err-msg {
        font-size: 0.9rem;
        text-align: center;
        margin: 0 1rem;
    }

    footer p {
        font-size: 1rem;
    }
}

/* Landscape Tablet */

@media (min-width: 768px) and (max-width: 1023px) {
    #srch-con {
        margin: 2rem 6%;
    }

    .outter-container h1.home-h1 {
        text-align: center;
        margin: 2rem 1rem;
    }

    .recipe .img-con {
        width: 50%;
    }

    .search {
        width: 90%;
    }

    .search-bar form {
        width: 80%;
    }

    #input {
        width: 100%;
        font-size: 0.9rem;
    }

    .outter-container h1 {
        font-size: 1.4rem;
    }
}

/* Laptop */

@media (min-width: 1024px) and (max-width: 1199px) {
    
    .recipe .img-con {
        width: 50%;
    }

    .outter-container h1 {
        font-size: 1.7rem;
    }
}

/* Desktops */

@media (min-width: 1200px) and (max-width: 1299px) {
    
}